*sh
*pyc
/data
!/data/.gitkeep
/results
*.DS_Store

/lib/
/fastText/
/german_ner/
/embeddings/
/include/
/corpora/

/model_europeana/
/model_germeval/
/model_conll2003en/
/english_transfer/
/german_transfer/
/main_models/
/model_lft/
/model_wikien/
/transfer/
/model_conllen_conllde/
/model_conllen_germeval/
/model_conllen/
/model_conllde/
/model_germeval_lft/
/models/
/.idea
/trimmed_embeddings/
/transfer